<?xml version="1.0" encoding="utf-8"?>
<!-- This file contains default settings. Don't try to edit it -->
<Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <ConversionPreset Name="To Ogg" OutputType="Ogg">
        <InputTypes>Mp3</InputTypes>
        <InputTypes>Flac</InputTypes>
        <InputTypes>Ape</InputTypes>
        <InputTypes>Wav</InputTypes>
        <InputTypes>Wma</InputTypes>
        <InputTypes>M4a</InputTypes>
        <InputTypes>Avi</InputTypes>
        <InputTypes>Mp4</InputTypes>
        <InputPostConversionAction>None</InputPostConversionAction>
        <Settings Key="Bitrate" Value="128" />
        <OutputFileNameTemplate>(p)(f)</OutputFileNameTemplate>
    </ConversionPreset>
    <ConversionPreset Name="To Mp3" OutputType="Mp3">
        <InputTypes>Ogg</InputTypes>
        <InputTypes>Flac</InputTypes>
        <InputTypes>Ape</InputTypes>
        <InputTypes>Wav</InputTypes>
        <InputTypes>Wma</InputTypes>
        <InputTypes>M4a</InputTypes>
        <InputTypes>Mp4</InputTypes>
        <InputTypes>Avi</InputTypes>
        <InputPostConversionAction>None</InputPostConversionAction>
        <Settings Key="Encoding" Value="Mp3VBR" />
        <Settings Key="Bitrate" Value="175" />
        <OutputFileNameTemplate>(p)(f)</OutputFileNameTemplate>
    </ConversionPreset>
    <ConversionPreset Name="To Flac" OutputType="Flac">
        <InputTypes>Ape</InputTypes>
        <InputTypes>Wav</InputTypes>
        <InputTypes>Avi</InputTypes>
        <InputTypes>Mp4</InputTypes>
        <InputPostConversionAction>None</InputPostConversionAction>
        <OutputFileNameTemplate>(p)(f)</OutputFileNameTemplate>
    </ConversionPreset>
    <ConversionPreset Name="To Wav" OutputType="Wav">
        <InputTypes>Ape</InputTypes>
        <InputTypes>Flac</InputTypes>
        <InputTypes>Mp3</InputTypes>
        <InputTypes>Ogg</InputTypes>
        <InputTypes>Wma</InputTypes>
        <InputTypes>Avi</InputTypes>
        <InputTypes>Mp4</InputTypes>
        <InputTypes>M4a</InputTypes>
        <InputPostConversionAction>None</InputPostConversionAction>
        <Settings Key="Encoding" Value="Wav16" />
        <OutputFileNameTemplate>(p)(f)</OutputFileNameTemplate>
    </ConversionPreset>
</Settings>