<?xml version="1.0" encoding="utf-8"?>
<Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" SerializationVersion="0">
    <ExitApplicationWhenConversionsFinished>true</ExitApplicationWhenConversionsFinished>
    <DurationBetweenEndOfConversionsAndApplicationExit>3</DurationBetweenEndOfConversionsAndApplicationExit>
    <ConversionPreset Name="To Mkv" OutputType="Mkv">
        <InputTypes>avi</InputTypes>
        <InputTypes>bik</InputTypes>
        <InputTypes>flv</InputTypes>
        <InputTypes>mkv</InputTypes>
        <InputTypes>mov</InputTypes>
        <InputTypes>mp4</InputTypes>
        <InputTypes>3gp</InputTypes>
        <InputTypes>webm</InputTypes>
        <InputTypes>wmv</InputTypes>
        <InputPostConversionAction>None</InputPostConversionAction>
        <Settings Key="VideoQuality" Value="30" />
        <Settings Key="VideoEncodingSpeed" Value="Medium" />
        <Settings Key="VideoScale" Value="1" />
        <Settings Key="AudioBitrate" Value="155" />
        <OutputFileNameTemplate>(p)(f)</OutputFileNameTemplate>
    </ConversionPreset>
    <ConversionPreset Name="To Mkv (low quality)" OutputType="Mkv">
        <InputTypes>avi</InputTypes>
        <InputTypes>bik</InputTypes>
        <InputTypes>flv</InputTypes>
        <InputTypes>mkv</InputTypes>
        <InputTypes>mov</InputTypes>
        <InputTypes>mp4</InputTypes>
        <InputTypes>3gp</InputTypes>
        <InputTypes>webm</InputTypes>
        <InputTypes>wmv</InputTypes>
        <InputPostConversionAction>None</InputPostConversionAction>
        <Settings Key="VideoQuality" Value="20" />
        <Settings Key="VideoEncodingSpeed" Value="Medium" />
        <Settings Key="VideoScale" Value="1" />
        <Settings Key="AudioBitrate" Value="96" />
        <OutputFileNameTemplate>(p)(f)</OutputFileNameTemplate>
    </ConversionPreset>
    <ConversionPreset Name="To Avi" OutputType="Avi">
        <InputTypes>avi</InputTypes>
        <InputTypes>bik</InputTypes>
        <InputTypes>flv</InputTypes>
        <InputTypes>mkv</InputTypes>
        <InputTypes>mov</InputTypes>
        <InputTypes>mp4</InputTypes>
        <InputTypes>3gp</InputTypes>
        <InputTypes>webm</InputTypes>
        <InputTypes>wmv</InputTypes>
        <InputPostConversionAction>None</InputPostConversionAction>
        <Settings Key="VideoQuality" Value="27" />
        <Settings Key="VideoScale" Value="1" />
        <Settings Key="AudioBitrate" Value="190" />
        <OutputFileNameTemplate>(p)(f)</OutputFileNameTemplate>
    </ConversionPreset>
    <ConversionPreset Name="To Ogg" OutputType="Ogg">
        <InputTypes>aac</InputTypes>
        <InputTypes>aiff</InputTypes>
        <InputTypes>ape</InputTypes>
        <InputTypes>flac</InputTypes>
        <InputTypes>m4a</InputTypes>
        <InputTypes>mp3</InputTypes>
        <InputTypes>wma</InputTypes>
        <InputTypes>avi</InputTypes>
        <InputTypes>bik</InputTypes>
        <InputTypes>flv</InputTypes>
        <InputTypes>mkv</InputTypes>
        <InputTypes>mov</InputTypes>
        <InputTypes>mp4</InputTypes>
        <InputTypes>wav</InputTypes>
        <InputTypes>3gp</InputTypes>
        <InputTypes>webm</InputTypes>
        <InputTypes>wmv</InputTypes>
        <InputPostConversionAction>None</InputPostConversionAction>
        <Settings Key="AudioBitrate" Value="160" />
        <OutputFileNameTemplate>(p)(f)</OutputFileNameTemplate>
    </ConversionPreset>
    <ConversionPreset Name="To Flac" OutputType="Flac">
        <InputTypes>avi</InputTypes>
        <InputTypes>bik</InputTypes>
        <InputTypes>flv</InputTypes>
        <InputTypes>mkv</InputTypes>
        <InputTypes>mov</InputTypes>
        <InputTypes>mp4</InputTypes>
        <InputTypes>wav</InputTypes>
        <InputTypes>ape</InputTypes>
        <InputTypes>3gp</InputTypes>
        <InputTypes>webm</InputTypes>
        <InputTypes>wmv</InputTypes>
        <InputPostConversionAction>None</InputPostConversionAction>
        <OutputFileNameTemplate>(p)(f)</OutputFileNameTemplate>
    </ConversionPreset>
    <ConversionPreset Name="To Wav" OutputType="Wav">
        <InputTypes>aac</InputTypes>
        <InputTypes>aiff</InputTypes>
        <InputTypes>ape</InputTypes>
        <InputTypes>flac</InputTypes>
        <InputTypes>m4a</InputTypes>
        <InputTypes>mp3</InputTypes>
        <InputTypes>ogg</InputTypes>
        <InputTypes>wma</InputTypes>
        <InputTypes>avi</InputTypes>
        <InputTypes>bik</InputTypes>
        <InputTypes>flv</InputTypes>
        <InputTypes>mkv</InputTypes>
        <InputTypes>mov</InputTypes>
        <InputTypes>mp4</InputTypes>
        <InputTypes>3gp</InputTypes>
        <InputTypes>webm</InputTypes>
        <InputTypes>wmv</InputTypes>
        <InputPostConversionAction>None</InputPostConversionAction>
        <Settings Key="AudioEncodingMode" Value="Wav16" />
        <OutputFileNameTemplate>(p)(f)</OutputFileNameTemplate>
    </ConversionPreset>
    <ConversionPreset Name="To Mp3" OutputType="Mp3">
        <InputTypes>aac</InputTypes>
        <InputTypes>aiff</InputTypes>
        <InputTypes>ape</InputTypes>
        <InputTypes>flac</InputTypes>
        <InputTypes>m4a</InputTypes>
        <InputTypes>ogg</InputTypes>
        <InputTypes>wma</InputTypes>
        <InputTypes>avi</InputTypes>
        <InputTypes>bik</InputTypes>
        <InputTypes>flv</InputTypes>
        <InputTypes>mkv</InputTypes>
        <InputTypes>mov</InputTypes>
        <InputTypes>mp4</InputTypes>
        <InputTypes>wav</InputTypes>
        <InputTypes>3gp</InputTypes>
        <InputTypes>webm</InputTypes>
        <InputTypes>wmv</InputTypes>
        <InputPostConversionAction>None</InputPostConversionAction>
        <Settings Key="AudioEncodingMode" Value="Mp3VBR" />
        <Settings Key="AudioBitrate" Value="190" />
        <OutputFileNameTemplate>(p)(f)</OutputFileNameTemplate>
    </ConversionPreset>
    <ConversionPreset Name="To Aac" OutputType="Aac">
        <InputTypes>aiff</InputTypes>
        <InputTypes>ape</InputTypes>
        <InputTypes>m4a</InputTypes>
        <InputTypes>mp3</InputTypes>
        <InputTypes>ogg</InputTypes>
        <InputTypes>wma</InputTypes>
        <InputTypes>avi</InputTypes>
        <InputTypes>bik</InputTypes>
        <InputTypes>flv</InputTypes>
        <InputTypes>mkv</InputTypes>
        <InputTypes>mov</InputTypes>
        <InputTypes>mp4</InputTypes>
        <InputTypes>wav</InputTypes>
        <InputTypes>flac</InputTypes>
        <InputTypes>3gp</InputTypes>
        <InputTypes>webm</InputTypes>
        <InputTypes>wmv</InputTypes>
        <InputPostConversionAction>None</InputPostConversionAction>
        <OutputFileNameTemplate>(p)(f)</OutputFileNameTemplate>
    </ConversionPreset>
    <ConversionPreset Name="Extract CDA to Flac" OutputType="Flac">
        <InputTypes>cda</InputTypes>
        <InputPostConversionAction>None</InputPostConversionAction>
        <OutputFileNameTemplate>(p:m)CDA Extraction\(f)</OutputFileNameTemplate>
    </ConversionPreset>
    <ConversionPreset Name="Extract CDA to Ogg" OutputType="Ogg">
        <InputTypes>cda</InputTypes>
        <InputPostConversionAction>None</InputPostConversionAction>
        <Settings Key="AudioBitrate" Value="192" />
        <OutputFileNameTemplate>(p:m)CDA Extraction\(f)</OutputFileNameTemplate>
    </ConversionPreset>
    <ConversionPreset Name="Extract CDA to Mp3" OutputType="Mp3">
        <InputTypes>cda</InputTypes>
        <InputPostConversionAction>None</InputPostConversionAction>
        <Settings Key="AudioEncodingMode" Value="Mp3VBR" />
        <Settings Key="AudioBitrate" Value="225" />
        <OutputFileNameTemplate>(p:m)CDA Extraction\(f)</OutputFileNameTemplate>
    </ConversionPreset>
    <ConversionPreset Name="To Png" OutputType="Png">
        <InputTypes>bmp</InputTypes>
        <InputTypes>tiff</InputTypes>
        <InputTypes>ico</InputTypes>
        <InputTypes>jpg</InputTypes>
        <InputTypes>jpeg</InputTypes>
        <InputPostConversionAction>None</InputPostConversionAction>
        <Settings Key="ImageScale" Value="1" />
        <OutputFileNameTemplate>(p)(f)</OutputFileNameTemplate>
    </ConversionPreset>
    <ConversionPreset Name="To Jpg" OutputType="Jpg">
        <InputTypes>bmp</InputTypes>
        <InputTypes>png</InputTypes>
        <InputTypes>tiff</InputTypes>
        <InputTypes>ico</InputTypes>
        <InputPostConversionAction>None</InputPostConversionAction>
        <Settings Key="ImageQuality" Value="25" />
        <Settings Key="ImageScale" Value="1" />
        <OutputFileNameTemplate>(p)(f)</OutputFileNameTemplate>
    </ConversionPreset>
    <ConversionPreset Name="To Ico (max 256x256)" OutputType="Ico">
        <InputTypes>bmp</InputTypes>
        <InputTypes>jpg</InputTypes>
        <InputTypes>jpeg</InputTypes>
        <InputTypes>png</InputTypes>
        <InputTypes>tiff</InputTypes>
        <InputPostConversionAction>None</InputPostConversionAction>
        <OutputFileNameTemplate>(p)(f)</OutputFileNameTemplate>
    </ConversionPreset>
    <ConversionPreset Name="To small Png" OutputType="Png">
        <InputTypes>bmp</InputTypes>
        <InputTypes>jpg</InputTypes>
        <InputTypes>jpeg</InputTypes>
        <InputTypes>png</InputTypes>
        <InputTypes>tiff</InputTypes>
        <InputPostConversionAction>None</InputPostConversionAction>
        <Settings Key="ImageScale" Value="0,2" />
        <OutputFileNameTemplate>(p)(f)-small</OutputFileNameTemplate>
    </ConversionPreset>
    <CheckUpgradeAtStartup>true</CheckUpgradeAtStartup>
</Settings>