root = true

[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

[*.{cs,xaml,csproj,wixproj,wxs,resx,xml}]
indent_style = space
indent_size = 4

[*.{md,yml,yaml}]
indent_style = space
indent_size = 2

[*.bat]
indent_style = space
indent_size = 4

[*.ps1]
indent_style = space
indent_size = 4
