<?xml version="1.0" encoding="UTF-8"?>

<?if $(var.Platform) = x64 ?>
<?define ProductName = "File Converter (64 bit)" ?>
<?define Win64 = "yes" ?>
<?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
<?else ?>
<?define ProductName = "File Converter" ?>
<?define Win64 = "no" ?>
<?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
<?endif ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" Name="$(var.ProductName)" Language="1033" Version="0.1.0" Manufacturer="AAllard" UpgradeCode="e3ca717b-a897-418a-bbef-5c7e35c76e4b">
        <Package Id="*" InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Platform="x64" />

        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
        <Media Id="1" Cabinet="CabFile.cab" EmbedCab="yes" />

        <Feature Id="ProductFeature" Title="Installer" Level="1">
            <ComponentGroupRef Id="ProductComponents" />
        </Feature>
        
        <Feature Id="ShellExtensionFeature" Title="ShellExtension" Level="1" AllowAdvertise="no">
            <ComponentRef Id="FileConverterExtension.dll" />
        </Feature>
        
        <UIRef Id="WixUI_InstallDir" />
        <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />

        <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
        <!--<WixVariable Id="WixUIBannerBmp" Value="path\banner.bmp" />
        <WixVariable Id="WixUIDialogBmp" Value="path\dialog.bmp" />
        <WixVariable Id="WixUIExclamationIco" Value="path\exclamation.ico" />
        <WixVariable Id="WixUIInfoIco" Value="path\information.ico" />
        <WixVariable Id="WixUINewIco" Value="path\new.ico" />
        <WixVariable Id="WixUIUpIco" Value="path\up.ico" />-->
    </Product>

    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="$(var.PlatformProgramFilesFolder)">
                <Directory Id="INSTALLFOLDER" Name="File Converter" />
            </Directory>
        </Directory>
    </Fragment>

    <Fragment>
        <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
            <!-- Resources -->
            <Component Guid="{9BF0AC45-A586-41C9-BA93-6048B46DA65F}" Win64="$(var.Win64)">
                <File Id="SharpShell.dll" KeyPath="yes" Source="..\Middleware\SharpShell\SharpShell.dll" />
            </Component>
            <Component Guid="{AA5EA6F7-C443-488B-8E48-7CF000B9AD2A}" Win64="$(var.Win64)">
                <File Source="$(var.FileConverter.TargetPath)" KeyPath="yes" />
            </Component>
            <Component Guid="{1790B82E-86BC-4B95-AA1D-9859FF3B6CA4}" Win64="$(var.Win64)">
                <File Source="..\Middleware\ffmpeg.exe" KeyPath="yes" />
            </Component>
            <Component Guid="{A5158756-A107-4010-9E2F-3C0333F5A5F6}" Win64="$(var.Win64)">
                <File Source="..\README.md" KeyPath="yes" />
            </Component>

            <!-- Registry entries -->
            <Component Id="RegistryEntries" Guid="{C3EF3D67-0206-4DBD-B2EA-78FF2E290093}">
                <RegistryKey Root="HKCU" Key="Software\FileConverter" Action="createAndRemoveOnUninstall">
                    <RegistryValue Name="Path" Type="string" Value="[INSTALLFOLDER]FileConverter.exe"/>
                </RegistryKey>
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>