<?xml version="1.0" encoding="UTF-8"?>

<?if $(var.Platform) = x64 ?>
<?define ProductName = "File Converter (64 bit)" ?>
<?define Win64 = "yes" ?>
<?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
<?else ?>
<?define ProductName = "File Converter" ?>
<?define Win64 = "no" ?>
<?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
<?endif ?>

<!-- Upgrade documentation: http://wixtoolset.org/documentation/manual/v3/howtos/updates/major_upgrade.html -->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" Name="$(var.ProductName)" Language="1033" Version="0.5.0" Manufacturer="AAllard" UpgradeCode="e3ca717b-a897-418a-bbef-5c7e35c76e4b">
        <Package Id="*" InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Platform="x64" />
        
        <Icon Id="icon.ico" SourceFile="..\Resources\ApplicationIcon.ico"/>
        <Property Id="ARPPRODUCTICON" Value="icon.ico" />

        <MajorUpgrade Schedule="afterInstallInitialize" DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." />
        
        <Media Id="1" Cabinet="CabFile.cab" EmbedCab="yes" />

        <Feature Id="ProductFeature" Title="Installer" Level="1">
            <ComponentGroupRef Id="ProductComponents" /> 
        </Feature>
        
        <CustomAction Id="InstallShell" FileKey="srm.exe" ExeCommand='install "[INSTALLFOLDER]\FileConverterExtension.dll" -codebase' Execute="deferred" Return="check" Impersonate="no" />
        <CustomAction Id="UninstallShell" FileKey="srm.exe" ExeCommand='uninstall "[INSTALLFOLDER]\FileConverterExtension.dll"' Execute="deferred" Return="check" Impersonate="no" />
        <CustomAction Id='PostInstallInit' FileKey='FileConverter.exe' ExeCommand='--post-install-init' Return='asyncNoWait' />
        
        <InstallExecuteSequence>
            <Custom Action="InstallShell" After="InstallFiles">NOT Installed</Custom>
            <Custom Action="UninstallShell" Before="RemoveFiles">(NOT UPGRADINGPRODUCTCODE) AND (REMOVE="ALL")</Custom>
            <Custom Action="PostInstallInit" After="InstallFinalize">NOT Installed</Custom>
        </InstallExecuteSequence>
        
        <UIRef Id="WixUI_InstallDir" />
        <Property Id="MSIUSEREALADMINDETECTION" Value="1" />
        <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
        <Property Id="MSIRESTARTMANAGERCONTROL" Value="Disable" /> <!-- This avoid an issue where the installer detect the utilisation of the extension dll in explorer and then, ask to the user to restart these applications. The restart fails. -->
 
        <WixVariable Id="WixUILicenseRtf" Value="License.rtf" /> 
        <WixVariable Id="WixUIBannerBmp" Value="..\Resources\Installer\Banner.bmp" />
        <WixVariable Id="WixUIDialogBmp" Value="..\Resources\Installer\UI.bmp" /> 
        <WixVariable Id="WixUIExclamationIco" Value="..\Resources\Installer\ErrorIcon.ico" />
        <WixVariable Id="WixUIInfoIco" Value="..\Resources\Installer\WarningIcon.ico" />
        <!--<WixVariable Id="WixUINewIco" Value="Icon16x16.ico" />
        <WixVariable Id="WixUIUpIco" Value="Icon16x16.ico" />-->
    </Product>

    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="$(var.PlatformProgramFilesFolder)">
                <Directory Id="INSTALLFOLDER" Name="File Converter" />
            </Directory>
        </Directory>
    </Fragment>

    <Fragment>
        <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
            <!-- Application -->
            <Component Guid="{142FBD60-90A7-4753-95CE-7B2A2E20B785}" Win64="$(var.Win64)">
                <File Id="FileConverter.exe" Source="$(var.FileConverter.TargetPath)" KeyPath="yes" />
            </Component>
            
            <!-- Extension -->
            <Component Guid="{AA5EA6F7-C443-488B-8E48-7CF000B9AD2A}" Win64="$(var.Win64)">
                <File Id="FileConverterExtension.dll" KeyPath="yes" Source="..\Application\FileConverterExtension\bin\$(var.Configuration)\FileConverterExtension.dll" />
            </Component>
            <Component Guid="{9BF0AC45-A586-41C9-BA93-6048B46DA65F}" Win64="$(var.Win64)">
                <File Id="SharpShell.dll" KeyPath="yes" Source="..\packages\SharpShell.2.2.0.0\lib\net40\SharpShell.dll" />
            </Component>
            <Component Guid="{EC580BEF-F962-42BD-B46D-4E4C126F2641}" Win64="$(var.Win64)">
                <File Id="srm.exe" Source="..\packages\SharpShellTools.2.2.0.0\lib\srm.exe" KeyPath="yes" />
            </Component>
            
            <!-- Third parties -->
            <Component Guid="{1790B82E-86BC-4B95-AA1D-9859FF3B6CA4}" Win64="$(var.Win64)">
                <File Source="..\Middleware\ffmpeg.exe" KeyPath="yes" />
            </Component>
            <Component Guid="{E1B1C09C-B089-40D8-859B-0E55F640CAE1}" Win64="$(var.Win64)">
                <File Id="Markdown.Xaml.dll" KeyPath="yes" Source="..\Middleware\Markdown.Xaml.dll" />
            </Component>
            <Component Guid="{55CD0B47-D5B0-4F0C-A54E-3E11DF345B48}" Win64="$(var.Win64)">
                <File Id="Ripper.dll" KeyPath="yes" Source="..\Middleware\Ripper.dll" />
            </Component>
            <Component Guid="{3CE6CF1B-431C-41FD-8381-3F73EDAF7B8A}" Win64="$(var.Win64)">
                <File Id="yeti.mmedia.dll" KeyPath="yes" Source="..\Middleware\yeti.mmedia.dll" />
            </Component>
            
            <!-- Configuration and documentation -->
            <Component Guid="{86AEF5B3-C25B-4662-BAEF-20969D1821A5}" Win64="$(var.Win64)">
                <File Source="..\Application\FileConverter\Settings.default.xml" KeyPath="yes" />
            </Component>
            <Component Guid="{A5158756-A107-4010-9E2F-3C0333F5A5F6}" Win64="$(var.Win64)">
                <File Source="..\README.md" KeyPath="yes" />
            </Component>
            <Component Guid="{B57DCB2B-3520-4430-98CB-41B58F530D75}" Win64="$(var.Win64)">
                <File Source="..\CHANGELOG.md" KeyPath="yes" />
            </Component>
            <Component Guid="{6378238B-E44F-414B-A7AE-7E72CFA8616D}" Win64="$(var.Win64)">
                <File Source="..\LICENSE.md" KeyPath="yes" />
            </Component>

            <!-- Registry entries -->
            <Component Id="RegistryEntries" Guid="{C3EF3D67-0206-4DBD-B2EA-78FF2E290093}">
                <RegistryKey Root="HKCU" Key="Software\FileConverter" Action="createAndRemoveOnUninstall">
                    <RegistryValue Name="Path" Type="string" Value="[INSTALLFOLDER]FileConverter.exe"/>
                    <RegistryValue Name="CompatibleInputExtensions" Type="string" Value="3gp;aac;aiff;ape;avi;bik;bmp;cda;flac;flv;ico;jpg;jpeg;m4a;mkv;mov;mp3;mp4;ogg;png;tiff;wav;webm;wma;wmv"/>
                </RegistryKey>
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>